<div class="container">
    <form #createAccount="ngForm" (ngSubmit)="onSave()">
        <!-- {{createAccount.value | json}} -->
        <div class="card w-50 mt-5 ml-5">
            <div class="alert alert-success" *ngIf="sucessMsg">
                {{sucessMsg}}
            </div>
            <div class="card-title mx-3">
                <h3 > {{ selectedId===0 ? 'Create Account' :'Update Account'}}</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" name="firstName" id="firstName" placeholder="Enter First name"
                        class="form-control" [(ngModel)]="user.firstName" required="required" pattern="^[a-zA-Z]*$">

                    <div *ngIf="createAccount.form.invalid && (createAccount.form.dirty || createAccount.form.touched)">
                        <div *ngIf="createAccount.controls['firstName'].errors?.['required']" class="text-danger fs-14">
                            {{taskErrorConstants.FIRST_NAME_REQUIRED}}
                        </div>
                        <div *ngIf="createAccount.controls['firstName'].errors?.['pattern']" class="text-danger fs-14">
                            {{taskErrorConstants.FIRST_NAME_PATTERN}}
                        </div>
                    </div>
                </div>
                <div class="form-group mt-1">
                    <input type="text" name="lastName" id="lastName" placeholder="Enter Last Name" class="form-control"
                        [(ngModel)]="user.lastName" required="required">

                    <div *ngIf="createAccount.form.invalid && (createAccount.form.dirty || createAccount.form.touched)">
                        <div *ngIf="createAccount.controls['lastName'].errors?.['required']" class="text-danger fs-14">
                            {{taskErrorConstants.LAST_NAME_REQUIRED}}
                        </div>
                    </div>
                </div>
                <div class="form-group mt-1">
                    <input type="email" name="email" id="email" placeholder="Enter Email" class="form-control"
                        [(ngModel)]="user.email" required="required">


                    <div *ngIf="createAccount.form.invalid && (createAccount.form.dirty || createAccount.form.touched)">
                        <div *ngIf="createAccount.controls['email'].errors?.['required']" class="text-danger fs-14">
                            {{taskErrorConstants.EMAIL_REQUIRED}}
                        </div>
                    </div>
                </div>
                <div class="form-group mt-1">
                    <input type="password" name="password" id="password" placeholder="Enter password"
                        class="form-control" [(ngModel)]="user.password" required="required"
                        pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9]).{8,}$">


                    <div *ngIf="createAccount.form.invalid && (createAccount.form.dirty || createAccount.form.touched)">
                        <div *ngIf="createAccount.controls['password'].errors?.['required']" class="text-danger fs-14">
                            {{taskErrorConstants.PASSWORD_REQUIRED}}

                        </div>
                        <div *ngIf="createAccount.controls['password'].errors?.['pattern']" class="text-danger fs-14">
                           {{taskErrorConstants.PASSWORD_PATTERN}}
                        </div>
                    </div>
                </div>
                <div class="form-group mt-1">
                    <input type="text" name="mobileNumber" id="mobileNumber" placeholder="Enter Mobile Number"
                        class="form-control" [(ngModel)]="user.mobileNumber" maxlength="10" required="required">

                    <div *ngIf="createAccount.form.invalid && (createAccount.form.dirty || createAccount.form.touched)">
                        <div *ngIf="createAccount.controls['mobileNumber'].errors?.['required']"
                            class="text-danger fs-14">
                            {{taskErrorConstants.MOBILE_NUMBER_REQUIRED}}
                        </div>
                    </div>
                </div>
                <div class="form-group mt-1">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="createAccount.form.invalid">{{
                        selectedId===0 ? 'Save' :'Update'}} 
                        <!-- <span class="spinner-border" role="status">
                          </span> -->
                    </button>
                </div>
                <div class="form-group mt-1">
                    <button type="reset" class="btn btn-secondary w-100">RESET</button>
                </div>
            </div>
        </div>
    </form>
</div>