<nav class="navbar navbar-expand-lg bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="#">Quiz App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="login" *ngIf="!authService.getLoggedIn">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="create-account" *ngIf="!authService.getLoggedIn">Create Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="quiz" *ngIf="authService.getLoggedIn">Start Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="#" *ngIf="authService.getLoggedIn">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="create-account" *ngIf="authService.getLoggedIn" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>